* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

:root {
    --primary-color: #FCFCFC;
    --secondary-color: #323132;
    --tertiary-color: #000000;
    --quaternary-color: #f5f5f5;
}

.dark-theme {
    --primary-color: #161616;
    --secondary-color: #f5f5f5;
    --tertiary-color: #6591d4;
    --quaternary-color: #5a5957;
}

#icon {
    height: 25px;
    width: auto;
    cursor: pointer;
}

/*Scroll button starts here*/

.scroll-top {
    height: 60px;
    width: 60px;
    background-color: #FFC907;;
    position: fixed;
    bottom: 10px;
    right: 10px;
    cursor: pointer;
    border-radius: 6px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.336);
    transform: scale(0.9);
    transition: 0.3s ease-in-out transform;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.scroll-top svg {
    width: 50%;
    color: black;
    pointer-events: none;
}

.scroll-top:hover {
    transform: scale(1);
}

/*Scroll button ends here*/

/*navbar starts here*/
header li, a {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 800;
    font-size: 1.5rem;
    color: #FFC907;
    text-decoration: none;
    text-transform: uppercase;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
    width: 100%;
    height: auto;
    opacity: 80%;
}

.logo {
    display: flex;
    margin-bottom: 1.5rem;
    width: 6%;
    height: auto;
    cursor: pointer;
    margin-right: auto;
}

.navheader {
    display: flex;
    margin-top: -1.3rem;
    margin-left: -.25rem;

}

.navbar li {
    list-style: none;
    display: inline-block;
    padding: 0px 20px;
}

.navbar li a {
    transition: all 0.3s ease 0s;
}

.navbar li a:hover {
    color: var(--tertiary-color);
}
/*navbar ends here*/

html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    scroll-behavior: smooth;
    background-color: var(--primary-color);
}

h1 {
    font-size: 2.5rem;
    text-align: center;
}

.title {
    display: flex;
    margin-top: 3rem;
    margin-bottom: 3rem;
    justify-content: center;
    align-items: center;
    background-color: #FFC907;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: -7rem;

}

/*
.banner {
    width: 105%;
    height: auto;
    display: flex;
    margin-bottom: 2rem;
    justify-content: center;
    align-items: center;
    margin-top: -1rem;
    margin-left: -.15rem;
}

.banner img {
    width: 100%;
    height: auto;
    display: flex;
    margin-top: 2.5rem;
}*/

h2 {
    font-size: 2.0rem;
    text-align: center;
    color: #FFC907;
    color: var(--secondary-color);
    border-radius: 5px;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
    padding-top: 2rem;
}

h3 {
    font-size: 1.8rem;
    color: var(--secondary-color);
}

h4 {
    font-size: 1.5rem;
    color: var(--secondary-color);
}


p {
    font-size: 1.3rem;
    color: var(--secondary-color);
}


/* Responsive Banner and Hamburger menu*/
@media only screen and (min-width: 300px) and (max-width: 768px) {

    /* Hamburger Menu */
    * {

        list-style-type: none;
    }

    a, button {
        cursor: pointer;
    }

    nav {
        position: absolute;
        top: 100px;
        right: 50px;
        width: 250px;
        color: white;
    }

    .hamburger, .bar {
        position: fixed;
    }

    .hamburger {
        display: block;
        top: 5%;
        left: 95%;
        width: 30px;
        height: 30px;
        transform: translateY(-50%);
        border: 0;
        background: 0 0;
    }

    .bar {
        top: 3px;
        right: 1.5rem;
        background: #FFC907;
        width: 100%;
        height: 4px;
        transition: all .3s ease-in;
    }

    #bar2 {
        top: 11px;
    }

    #bar3 {
        top: 19px;
    }

    .navigation.active {
        right: 0;
    }

    .hamburger.open #bar1 {
        background-color: #FFC907;
        transform: rotate(45deg) translate(6px, 5px);
    }

    .hamburger.open #bar2 {
        background-color: transparent;
    }

    .hamburger.open #bar3 {
        background-color: #FFC907;
        transform: rotate(-45deg) translate(6px, -5px);
    }
    .navigation {
        position: fixed;
        right: -500px;
        width: 150px;
        height: 15rem;
        background-color: black;
        transition: .5s;
        z-index: 3;
    }


    header li, a {
        font-size: 1rem;
    }

    .logo {
        width: 50%;
        cursor: pointer;
        margin-top: 1rem;
        margin-left: 1rem;
    }

    .navigation ul li {
        text-transform: uppercase;
        padding-left: 10rem;
        padding-bottom: 1rem;
    }

    .hamburger {
        top: 2rem;
        right: 2rem;
    }
}



/* Hide nav bar and resize Title*/
/* MOBILE*/
@media only screen and (min-width: 300px) and (max-width: 768px) {
    header {
        display: none;
    }
}

/* Hide Hamburger menu for desktop*/
@media only screen and (min-width: 769px) {
    .navigation {
        display: none;
    }
}

.contact-head{
    background-image: url(/Images/cleanwaterchanges.jpeg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height:500px;
    color: white;
    text-shadow: 1px 1px 0 black;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}


    .founder-title {
        text-align: center;
        padding: 2em; 
    }

    .founder-div {
        text-align: center;
        margin: auto;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: normal;
        align-items: normal;
        align-content: normal;
        width: 60%;
    }

    .founder-div .founder-info {
        margin: auto;
        padding: 0 2em;
        text-align: center;
        display: block;
        flex-grow: 0;
        flex-shrink: 1;
        flex-basis: auto;
        align-self: auto;
        order: 0;
    }

    .founder-div #founder-pic {
        margin: auto;
        height: 200px;
        width: auto;
    }

    .founder-extra {
        padding: 10px;
        width: 60%;
        margin: 30px auto;
    }

    .founder-extra p {
        text-align: center;
        font-weight: bold;
        font-size: 18px;
    }

    .water-crisis {
        text-align: center;
        padding: 10px;
        width: 80%;
        margin: 20px auto;
    }

    .water-crisis span {
        color: #FFC900;
        background-color: white;
        padding: 10px;
        border-radius: 5px;
        font-size: 2.3rem;
    }

    .water-crisis p {
        display: flex;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    .water-faucet {
        width: 110%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: -2rem;
    }

    .approach {
        display: flex;
        justify-content: space-between;
        margin: 10px;
    }

    .approach .approach-title {
        width: 50%;
        margin: auto 100px;
        padding: 20px;
        text-align: center;
    }

    .approach-title p {
        display: flex;
        margin-top: 2rem;
        margin-bottom: 1rem;
        width: 25em;
    }

    .approach .approach-title img {
        width: 60%;
        height: auto;
        align-items: center;
    }

    .approach .approach-title h3 {
        text-align: center;
    }

    .approach .approach-main h4 {
        text-align: center;
        margin: auto;
    }

    .approach .approach-main {
        width: 60%;
        padding: 10px;
        text-align: center;
    }

    .approach .approach-row1 {
        background-color: #FFC900;
        margin: 10px;
        padding: 15px;
        border-radius: 10px;
    }

    .approach .approach-row2 {
        background-color: #FFC900;
        margin: 10px;
        padding: 15px;
        border-radius: 10px;
    }

    .approach .approach-row3 {
        background-color: #FFC900;
        margin: 10px;
        padding: 15px;
        border-radius: 10px;
    }

    .specific-methods {
        display: flex;
        margin-top: 4rem;
    }

    .specific-methods p {
        visibility: hidden;
        opacity: 0;
    }

    .cards {
        height: 250px;
        width: 230px;
        margin: 40px 20px 20px 20px;
        box-shadow: 3px 3px 20px black;
        overflow: hidden;
        border-radius: 10px;
        background-color: var(--quaternary-color);
    }

    .cards .methods-desc h4 {
        font-size: 1.5rem;
        font-weight: bold;
        color: #161616;
    }

    img {
        height: 90px;
        width: 100px;
        border-radius: 3px;
        margin: 5px;
        margin-top: 20px;
    }

    .methods-desc {
        height: 110px;
        width: 190px;
        padding: 5px;
        border-radius: 5px;
        box-sizing: border-box;
        position: relative;
        background-color: #FFC900;
        color: #f5f5f5;
        left: 0px;
        bottom: -30px;
        transition: all ease 0.5s;
    }

    .cards:hover {
        cursor: pointer;
    }

    .cards:hover .methods-desc {
        height: 260px;
        width: 230px;
        padding: 1.1rem;
        position: relative;
        background-color: #20428b;
        opacity: 0.95;
        left: 0px;
        bottom: 120px;
    }

    .cards:hover p {
        opacity: 1;
        visibility: visible;
        color: #f5f5f5;
    }

    .cards:hover h4 {
        opacity: 1;
        visibility: visible;
        color: #f5f5f5;
    }

    .cards:hover img {
        transform: scale(1.1);
    }

    .specific-methods {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
    }

    .cards img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 40%;
    }


    /*Footer CSS*/


.footer {
    background-image: url(/Images/Footer_background.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 25% 0 .5% 0;
    margin-top: -150px;
    height: 100%;
}

.footer h2 {
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.5rem;
}


.footer-container{  
    width:80%;
    color: white;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
    gap: 8%;
    padding-bottom: 6%;
    }

.footer-heading {
    display: flex;
    flex-direction: row;
    gap: 25%;
    text-align: center;
    justify-content: center;
    }

.footer-heading-sub{
    white-space: nowrap;
}

.footer-heading h2 {
    margin-bottom: 2rem;
    display: block;
    }

.footer-heading a {
    color: white;
    text-decoration: none;
    margin-bottom: 0.5rem;
    display: block;
    }

.footer-heading a:hover {
    color:rgb(241, 172, 11);
    transition:0.3s ease-out;
    }

    /*
.footer-email-form h2{ 
    margin-bottom: 2rem;
    }

#footer-email {
    width: 250px;
    height: 40px;
    border-radius: 4px;
    outline: none;
    border: none;
    padding-left: 0.5rem;
    font-size: 1rem;
    margin-bottom: 1rem;
    }

#footer-email-btn {
    width: 100px;
    height: 40px;
    border-radius: 4px;
    background-color: rgb(159, 78, 31);
    outline: none;
    border: none;
    color: white; 
    }

#footer-email-btn:hover{
    cursor: pointer;
    background-color: rgb(107, 107, 219);
    transition: all 0.4s ease-out;
    }

*/

.footer-email{
    width: 80%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-email-sub{
    width:50%;
    max-width: 600px;
    position: relative;
}

#email-field{
    display: block;
    width: 100%;
    border: 0;
    border-bottom: 2px solid #edebe6;
    background: transparent;
    outline: none;
    font-size: 26px;
    padding: 5px 2px;
    z-index: 10;
    color: white;
}

#email-label{
    display: block;
    position: absolute;
    bottom: 5px;
    left: 2px;
    color: white;
    font-size: 18px;
    transition: bottom 0.3s;
    cursor: auto;
    font-size: 1rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-transform: uppercase;
}

#email-error{
    position: absolute;
    top: 100%;
    left: 2px;
    font-size: 16px;
    font-weight: 400;
    color: red;
    transition: top 0.5s;
}

.copyright{
    font-size: 14px;
    color: rgb(174, 170, 170);
}
